body {
  font-family: arial;
  margin: 0;
  padding: 0;
}
#masthead {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  font-size: 36px;
  padding: 10px 10px 10px 50px;
}
#content {
  margin: 10px 50px;
}
.logo {
  height: 36px;
  width: 36px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  font-size: 9pt;
}
th, td {
  padding: 5px;
  vertical-align: top;
}
th {
  background-color: #4CAF50;
  color: white;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #f8f8f8;
}
th.level {
  width: 3%;
}
th.timestamp {
  width: 12%;
}
th.message {
  width: 15%;
}
th.tags {
  width: 70%;
}
td.info {
  background-color: #aaffaa;
}
td.error {
  background-color: #ffaaaa;
}
.scrollable {
  overflow: scroll;
  overflow-y: hidden;
  display: block;
}
dl {
  margin: 0 0 2px 0;
}
dt {
  font-weight: bold;
  display: inline-block;
}
dd {
  margin: 5px 0;
}
.pre {
  white-space: pre;
}
h2 {
  color: #4CAF50;
}
h3 {
  color: #4CAF50;
}
